@import "/node_modules/normalize.css/normalize.css";
@import "styles/variables.scss";
@import "styles/typography.scss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--font-poppins);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 86%);
}
